$yellow: #ffffff

#boton1 {
	background-color: rgb(110, 255, 255);
}

#boton2 {
	background-color: rgb(110, 255, 255);
}

#boton3 {
	background-color: rgb(110, 255, 255);
}

#boton4 {
	background-color: rgb(110, 255, 255);
}

#boton5 {
	background-color: rgb(110, 255, 255);
}

#bbg {
	background-color: $yellow;
}

#jumbo {
	background-color: rgb(0, 255, 0);
	margin-top: 90px;
}

footer {
	background-color: rgb(50, 50, 60);
}

h5 {
	color: rgb(255, 255, 255);
}

#IRTRA {
	text-align: right;
}
